<form method="post" action="/students">
  <label for="first-name">First name:</label>
  <input
    type="text"
    name="first_name"
    id="first-name"  
  />

  <label for="last-name">Last name:</label>
  <input
    type="test"
    name="last_name"
    id="last-name"
  />

  <label for="house">House:</label>
  <select name="house" id="house">
    <option selected disabled>Please select a house</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="quantity">Age:</label>
  <input
    type="number"
    name="age"
    id="quantity"
  />

  <input type="submit" value="Save">
</form>
